<a class="btn btn-primary" id="list-button" href="/scrape">
    Scrape Episodes List</a>

{{#each article}}
<p><b>{{this.title}}</b><br />
<i>Summary: {{this.summary}}</i></p>
<button data-id="{{this._id}}" class="btn-success" id="save-button">Save</button>
{{/each}}